body {
  max-width: 100rem;
  margin: 0 auto;
}

h1.logo  {
  margin: 0;
} 

h1.logo a {
  color: white;
  text-decoration: none;
} 

.grid_override svg[aria-label="LinkNext"] {
  position: absolute;
  right: -20px;
  z-index: 1;
  top: 40%;
}

@media (max-width: 991.98px) { 
  .grid_override {
    grid-template-areas: "header header header" 
                        "nav nav nav" 
                        "main main main" !important;
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto !important;
  }
  .grid_override > div {
    margin-bottom: 20px;
  }
  .grid_override svg[aria-label="LinkNext"] {
    position: absolute;
    right: 50%;
    z-index: 1;
    top: auto;
    bottom: -25px;
    transform: rotate(90deg);
  }  
}