h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.margin-none {
    margin: 0px;
}

.main-link {
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

@media (min-width: 1024px) {
  .home-grid {
    height: calc(100vh - 78px);
    overflow: auto;
  }
  .meta-url-list {
    height: calc(100vh - 60px);
    overflow: auto;
    padding-bottom: 10px;
  }
}

@media (max-width: 1023px) {
    .home-grid {
        grid-template-areas:
        "topic topic"
        "main main" !important;
    }
}

.grid_override svg[aria-label="LinkNext"] {
  position: absolute;
  right: -20px;
  z-index: 1;
  top: 40%;
}

@media (max-width: 991.98px) { 
  .grid_override {
    grid-template-areas: "header header header" 
                        "nav nav nav" 
                        "main main main" !important;
    grid-template-columns: auto !important;
    grid-template-rows: auto auto auto !important;
  }
  .grid_override > div {
    margin-bottom: 20px;
  }
  .grid_override svg[aria-label="LinkNext"] {
    position: absolute;
    right: 50%;
    z-index: 1;
    top: auto;
    bottom: -25px;
    transform: rotate(90deg);
  }  
}